html, body {
    background: #3a333a;
    font-size: 14px;
}

html, body, a {
    color: #aabbaa;
}

body {
    text-align: center;
}

p {
    margin: 0 0 20px 0;
}

#wrapper {
    margin-top: 100px;
}

.album-cover a img {
    border: 4px solid #3a333a;
}

.album-cover a:hover img {
    border-color: #aabbaa;
}

.band-name, .album-title {
    font-size: 20px;
}

.album-title {
    border-bottom: 1px dotted #aabbaa;
}

.do-it {
    font-size: 30px;
}

.notes {
    margin-top: 20px;
}

.notes, .notes a {
    color: #556055;
}

.notes a:hover {
    color: #aabbaa;
}    

.notes span {
    padding: 0 4px;
}

.rules {
    width: 500px;
    margin: auto;
    text-align: left;
}

.rules a {
    color: #eeffee;
}

.rules .back {
    text-align: right;
}

