.rules
  :textile
    This is an automated tool to help you out with the "hilarious random CD cover meme":http://flickr.com/groups/639902@N23/pool/. The rules are roughly as follows:

  %ol
    %li
      :textile
        The first "random wikipedia article":http://en.wikipedia.org/wiki/Special:Random you get is the name of your band.

    %li
      :textile
        The last four or five words of the very last quote "on this page":http://www.quotationspage.com/random.php3 is the title of your first album.

    %li
      :textile
        The third picture on Flickr's "explore the last seven days":http://www.flickr.com/explore/interesting/7days page is your album cover.

    %li
      %p Use Photoshop or a similar graphics editing program to put it all together.

    %li
      %p
        Put your masterpiece online somewhere and tell a ton of your friends to do it and why not also tell them to use
        = link_to 'this site', '/'
        to do it!

  %p.back
    = link_to "That's brilliant, I'll go and do all that right now. &rarr;", :action => :index

